.header {
  position: absolute;
  width: 1440px;
  height: 261px;
  background-color: linear-gradient(267.21deg, #900793 0.16%, rgba(134, 4, 137, 0.785707) 0.16%, rgba(159, 12, 162, 0.762269) 43.22%, rgba(5, 1, 190, 0.734375) 98.12%, rgba(0, 28, 126, 0.619792) 100.15%, rgba(6, 77, 142, 0.447917) 102.03%, rgba(1, 0, 60, 0) 102.73%);
}
.header__title {
  position: absolute;
  width: 317px;
  height: 43px;
  left: 110px;
  top: 106px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-shadow: 0px 4px 4px black-shadow;
}
.section {
  width: 1440px;
  background-color: #E5E5E5;
}
.section__wrapper {
  display: flex;
}
.section__button {
  position: absolute;
  width: 280px;
  height: 70px;
  left: 120px;
  top: 291px;
  background: #4943CD;
  box-shadow: 0px 4px 4px #EBEBEB;
  border-radius: 2px;
}
.section__sorting {
  position: absolute;
  width: 910px;
  height: 70px;
  left: 420px;
  top: 291px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px #E7E7E7;
  border-radius: 3px;
}
.section__sorting-input {
  position: absolute;
  width: 250px;
  height: 30px;
  left: 440px;
  top: 311px;
  background: #FFFFFF;
  border: 1px solid #E0E5E6;
  box-sizing: border-box;
}
.section__sorting-datalist {
  position: absolute;
  width: 250px;
  height: 30px;
  left: 440px;
  top: 311px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2B2839;
  background: #FFFFFF;
  border: 1px solid #E0E5E6;
  box-sizing: border-box;
}
.section__sorting-title {
  position: absolute;
  width: 117px;
  height: 14px;
  left: 731px;
  top: 320px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2B2839;
}
.section__sorting-checkbox {
  position: absolute;
  width: 117px;
  height: 14px;
  left: 731px;
  top: 320px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2B2839;
}
.section__sorting-button {
  position: absolute;
  width: 60px;
  height: 29.11px;
  left: 452px;
  top: 100px;
  background: #FFFFFF;
  border: 1px solid #E0E5E6;
  box-sizing: border-box;
  border-radius: 3px;
}
.section__filter {
  position: absolute;
  width: 280px;
  height: 330px;
  left: 120px;
  top: 381px;
  background: #FFFFFF;
}
.section__filter-legend {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 158px;
  top: 396px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2B2839;
}
.section__filter-input-label {
  position: absolute;
  width: 14px;
  height: 12px;
  left: 150px;
  top: 438px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2B2839;
}
.section__filter-input {
  position: absolute;
  width: 220px;
  height: 30px;
  left: 150px;
  top: 461px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
}
.section__filter-from-label {
  position: absolute;
  left: 4.17%;
  right: 80%;
  top: 28%;
  bottom: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #2B2839;
}
.section__filter-from-input {
  position: absolute;
  left: 17.08%;
  right: 48.75%;
  top: 0%;
  bottom: 4%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
}
.section__card-wrapper {
  display: flex;
}
.section__card {
  position: absolute;
  width: 290px;
  height: 210px;
  left: 420px;
  top: 381px;
  background: #F6FAFB;
  box-shadow: 0px 4px 12px #EBEBEB;
  border-radius: 3px;
}
.section__card-title {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 420px;
  top: 381px;
  background: rgba(237, 232, 245, 0.5);
}
.section__card-field {
  position: absolute;
  width: 10px;
  height: 17px;
  left: 441px;
  top: 428px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2B2839;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 111px;
  background-color: linear-gradient(267.21deg, #900793 0.16%, rgba(134, 4, 137, 0.785707) 0.16%, rgba(159, 12, 162, 0.762269) 43.22%, rgba(5, 1, 190, 0.734375) 98.12%, rgba(0, 28, 126, 0.619792) 100.15%, rgba(6, 77, 142, 0.447917) 102.03%, rgba(1, 0, 60, 0) 102.73%);
}
